<html>
    <head>
        <title>Admin page</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="javascripts/jquery-2.2.1.min.js"></script>
        <script src="javascripts/global.js"></script>
    </head>

    <body>
        <h1>Admin page</h1>
        <p>Welcome to the admin page</p>

        <!-- wrapper -->
        <div id="wrapper">

            <!-- USER INFO -->
            <div id="userInfo">
                <h2>User Detail</h2>
                <p>
                    <strong>Username:</strong> <span id="userInfoUsername"></span><br/>
                    <strong>Firstname:</strong> <span id="userInfoFirstName"></span><br/>
                    <strong>Lastname:</strong> <span id="userInfoLastName"></span><br/>
                    <strong>Uid:</strong> <span id="userInfoUid"></span><br/>
                </p>
            </div>
            <!-- /USER INFO -->

            <!-- userlist -->
            <h2>Users</h2>

            <div id="userList">
                <table>
                    <thead>
                        <tr>
                            <td>UserName</td>
                            <td>Firstname</td>
                            <td>Lastname</td>
                            <td>Delete?</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /userlist -->

            <!-- voicelist -->
            <h2>Voices</h2>

            <div id="voiceList">
                <table>
                    <thead>
                    <tr>
                        <td>Title</td>
                        <td>Filename</td>
                        <td>Filelocation</td>
                        <td>user id</td>
                        <td>delete?</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /voicelist -->

            <!-- ADD USER -->
            <div id="addUser">
                <fieldset>
                    <input type="text" placeholder="username" id="inputUserName"/><br/>
                    <input type="text" placeholder="firstname" id="inputFirstName"/><br/>
                    <input type="text" placeholder="lastname" id="inputLastName"/><br/>
                    <input type="text" placeholder="uId" id="inputUid"/><br/>
                    <button id="btnAddUser">Add User</button>
                </fieldset>
            </div>
            <!-- /ADD USER -->
        </div>

        <!-- /wrapper -->

    </body>

</html>