<html>
    <head>
        <title>Admin page</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="javascripts/jquery-2.2.1.min.js"></script>
        <script src="javascripts/global.js"></script>
    </head>

    <body>
        <h1>Admin page</h1>
        <p>Welcome to the admin page</p>

        <!-- wrapper -->
        <div id="wrapper">
            <!-- userlist -->
                <h2>Users</h2>
                <div id="userList">
                    <table>
                        <thead>
                            <tr>
                                <td>UserName</td>
                                <td>Firstname</td>
                                <td>Lastname</td>
                                <td>Delete?</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            <!-- /userlist -->
        </div>
        <!-- /wrapper -->

    </body>

</html>