<html>
    <head>
        <title>Admin page</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="javascripts/jquery-2.2.1.min.js"></script>
        <script src="javascripts/global.js"></script>
    </head>

    <body>
        <h1>Admin page</h1>
        <p>Welcome to the admin page</p>

        <!-- wrapper -->
        <div id="wrapper">

            <!-- userlist -->
            <h2>Users</h2>

            <div id="userList">
                <table>
                    <thead>
                        <tr>
                            <td>email</td>
                            <td>FB Email</td>
                            <td>FB name</td>
                            <td>Delete?</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /userlist -->

            <!-- voicelist -->
            <h2>Voices</h2>

            <div id="voiceList">
                <table>
                    <thead>
                    <tr>
                        <td>Title</td>
                        <td>Filename</td>
                        <td>Filelocation</td>
                        <td>user id</td>
                        <td>delete?</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /voicelist -->

            <!-- EDIT USER -->
            <div id="editUser">
                <fieldset>
                    <input type="text" placeholder="email" id="inputEmail" size="34"/><br/>
                    <button id="btnEditUser">Edit User</button>
                </fieldset>
            </div>
            <!-- /EDIT USER -->

            <!-- EDIT VOICE -->
            <div id="editVoice">
                <fieldset>
                    <input type="text" placeholder="title" id="inputTitle" size="34"/><br/>
                    <button id="btnEditVoice">Edit Voicenote</button>
                </fieldset>
            </div>
            <!-- /EDIT VOICE -->
        </div>

        <!-- /wrapper -->

    </body>

</html>