<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-play"></span> VoiceZone Back-end</h1>

        <p>Klik hieronder om in te loggen:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Admin Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Maak account</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Test facebooklogin</a>
    </div>

</div>
</body>
</html>