extends layout

block content
  h1= Admin
  p Welcome to the admin page

  //wrapper
  #wrapper

      //USER LIST
      h2 Users
      #userList
          table
              thead
                th UserName
                th FirstName
                th LastName
                th Delete?
              tbody
      // /USER LIST

  // /WRAPPER